<div class="bg-dark text-light">
    <footer class="container py-5 mt-5">
      <div class="row">
        <div class="col-12 col-md">
          <h5>Nilay Mobilya</h5>
          <small class="d-block mb-3 text-muted">© 2017-2021</small>
        </div>
        <div class="col-6 col-md">
          <h5>Kategoriler</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="/products?categories=koltuk-takimlari">Koltuk Takımları</a></li>
            <li><a class="text-muted" href="/products?categories=yatak-odasi-takimlari">Yatak Odası Takımları</a></li>
            <li><a class="text-muted" href="/products?categories=dolaplar">Dolaplar</a></li>
            <li><a class="text-muted" href="/products?categories=baza-ve-basliklar">Baza ve Başlıklar</a></li>
            <li><a class="text-muted" href="/products?categories=portmantolar">Portmantolar</a></li>
            <li><a class="text-muted" href="/products?categories=masa-takimlari">Masa Takımları</a></li>
            <li><a class="text-muted" href="/products?categories=sifonyer-ve-calisma-masalari">Şifonyer ve Çalışma Masaları</a></li>
            <li><a class="text-muted" href="/products?categories=tv-unitesi-ve-konsollar">Tv Ünitesi ve Konsollar</a></li>
  
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Kurumsal</h5>
          <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="/about-us">Hakkımızda</a></li>
              <li><a class="text-muted" href="/store">Satış Noktalarımız</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Destek</h5>
          <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="/sss">Sıkça Sorulan Sorular</a></li>
              <li><a class="text-muted" href="/contact">İletişim</a></li>
        </div>
       
        </div>
      </footer>
      </div>
  
  
  
 
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
      <script src="/scripts/main.js"></script>