<div
  style="background-color: #f8f9fa !important; border-bottom: 1px solid #222222"
>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Nilay Mobilya</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          id="navbar"
          class="collapse navbar-collapse ml-5"
          id="navbarNavDropdown"
        >
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/products"
                >Ürünlerimiz <span class="sr-only">(current)</span></a
              >
            </li>

            <% if(!adminIN) { %>

            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/about-us"
                >Hakkımızda</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/store">Mağazalarımız</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">İletişim</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/sss">SSS</a>
            </li>

            <% } %> <% if(adminIN) { %>

            <li class="nav-item">
              <a class="nav-link" href="/admin/add-product">Ürün Ekle</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/add-category">Kategori Ekle</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/adminproducts">Admin Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/categories">Kategoriler</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/logout">Çıkış</a>
            </li>

            <% } %>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
