  
<%- include('partials/_header') -%>

<%- include('partials/_navigation') -%>

<%- include('partials/_orange-slider') -%>

<div class="container mt-3">
    <div class="row">
        <div class="col-sm-12">
            <h3>Biz Kimiz ?</h3>
            
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, natus dignissimos temporibus aliquam quasi illo sapiente unde autem incidunt, sed velit voluptate libero et asperiores architecto totam, dolores vero eum.orem ipsum dolor sit amet consectetur adipisicing elit. Aut, natus dignissimos temporibus aliquam quasi illo sapiente unde autem incidunt, sed velit voluptate libero et asperiores architecto totam, dolores vero eum.orem ipsum dolor sit amet consectetur adipisicing elit. Aut, natus dignissimos temporibus aliquam quasi illo sapiente unde autem incidunt, sed velit voluptate libero et asperiores architecto totam, dolores vero eum.orem ipsum dolor sit amet consectetur adipisicing elit. Aut, natus dignissimos temporibus aliquam quasi illo sapiente unde autem incidunt, sed velit voluptate libero et asperiores architecto totam, dolores vero eum.orem ipsum dolor sit amet consectetur adipisicing elit. Aut, natus dignissimos temporibus aliquam quasi illo sapiente unde autem incidunt, sed velit voluptate libero et asperiores architecto totam, dolores vero eum.orem ipsum dolor sit amet consectetur adipisicing elit. Aut, natus dignissimos temporibus aliquam quasi illo sapiente unde autem incidunt, sed velit voluptate libero et asperiores architecto totam, dolores vero eum.vorem ipsum dolor sit amet consectetur adipisicing elit. Aut, natus dignissimos temporibus aliquam quasi illo sapiente unde autem incidunt, sed velit voluptate libero et asperiores architecto totam, dolores vero eum.orem ipsum dolor sit amet consectetur adipisicing elit. Aut, natus dignissimos temporibus aliquam quasi illo sapiente unde autem incidunt, sed velit voluptate libero et asperiores architecto totam, dolores vero eum.orem ipsum dolor sit amet consectetur adipisicing elit. Aut, natus dignissimos temporibus aliquam quasi illo sapiente unde autem incidunt, sed velit voluptate libero et asperiores architecto totam, dolores vero eum.orem ipsum dolor sit amet consectetur adipisicing elit. Aut, natus dignissimos temporibus aliquam quasi illo sapiente unde autem incidunt, sed velit voluptate libero et asperiores architecto totam, dolores vero eum.orem ipsum dolor sit amet consectetur adipisicing elit. Aut, natus dignissimos temporibus aliquam quasi illo sapiente unde autem incidunt, sed velit voluptate libero et asperiores architecto totam, dolores vero eum.orem ipsum dolor sit amet c</p>
        </div>
    </div>
</div>
<%- include('partials/_footer') -%>