  
<%- include('partials/_header') -%>

<%- include('partials/_navigation') -%>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div id="deneme" class="carousel-item active">
      <div id="yazi">
        <h5 id="baslik" class="mt-5"><i class="fas fa-shipping-fast me-2"></i>"1 HAFTA İÇİNDE TESLİM EDİYORUZ"</h5>
      </div>    
    </div>
    <div id="deneme2" class="carousel-item">
      <div id="yazi2">
        <h5 id="baslik2" class="mt-5">"İSTANBUL İÇİNE TESLİMAT VE KURULUM ÜCRETSİZDİR"</h5>
      </div>    
    </div>
    <div id="deneme3" class="carousel-item">
      <div id="yazi3">
        <h5 id="baslik3" class="mt-5" >"ÖDEME KAPIDA ALINMAKTA OLUP ÜRÜNLERİMİZ 2 YIL GARANTİLİDİR"</h5>
      </div>   
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

   

<div class="container mt-5">
  <div class="row">
    <div class="col-sm-3">
      <div class="card">
        <img
          src="https://i0.shbdn.com/photos/50/64/39/x5_903506439nsx.jpg"
          data-src="https://i0.shbdn.com/photos/50/64/39/x5_903506439nsx.jpg"
          alt="İkinci El ve Sıfır Alışveriş / Ev Dekorasyon / Mobilya / Oturma Odası &amp; Salon / Koltuk Takımı"
          title="İkinci El ve Sıfır Alışveriş / Ev Dekorasyon / Mobilya / Oturma Odası &amp; Salon / Koltuk Takımı"
        />

        <div class="card-body">
          <h5 class="card-title">Koltuk Takımları</h5>
          <p class="card-text"></p>
          <a href="/products?categories=koltuk-takimlari" class="btn btn-outline-success">İncele</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <img
          class="stdImg"
          src="https://i0.shbdn.com/photos/22/17/10/x5_903221710tzn.jpg"
          alt="100% MDF YATAK ODASI TAKİMLARİ - Yatak Odası Takımı Fiyatları ve Yatak Odası Mobilyaları sahibinden.com'da"
          title="100% MDF YATAK ODASI TAKİMLARİ - Yatak Odası Takımı Fiyatları ve Yatak Odası Mobilyaları sahibinden.com'da"
        />

        <div class="card-body">
          <h5 class="card-title">Yatak Odası Takımları</h5>
          <a href="/products?categories=yatak-odasi-takimlari" class="btn btn-outline-success">İncele</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <img
          class="stdImg"
          src="https://i0.shbdn.com/photos/08/10/68/x5_899081068gco.jpg"
          alt="İkinci El ve Sıfır Alışveriş / Ev Dekorasyon / Mobilya / Yatak Odası / Gardırop"
          title="İkinci El ve Sıfır Alışveriş / Ev Dekorasyon / Mobilya / Yatak Odası / Gardırop"
        />
        <div class="card-body">
          <h5 class="card-title">Dolaplar</h5>
          <a href="/products?categories=dolaplar" class="btn btn-outline-success">İncele</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <img
          class="stdImg"
          src="https://i0.shbdn.com/photos/07/87/32/x5_899078732a7i.jpg"
          alt="İkinci El ve Sıfır Alışveriş / Ev Dekorasyon / Mobilya / Yatak Odası / Baza"
          title="İkinci El ve Sıfır Alışveriş / Ev Dekorasyon / Mobilya / Yatak Odası / Baza"
        />
        <div class="card-body">
          <h5 class="card-title">Baza ve Başlıklar</h5>
          <a href="/products?categories=baza-basliklar" class="btn btn-outline-success">İncele</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mt-3">
      <div class="card">
        <img
          src="https://i0.shbdn.com/photos/07/30/99/x5_8980730991bn.jpg"
          data-src="https://i0.shbdn.com/photos/07/30/99/x5_8980730991bn.jpg"
          alt="Satılık"
          title="Satılık"
        />
        <div class="card-body">
          <h5 class="card-title">Portmanto Çeşitleri</h5>
          <a href="/products?categories=portmantolar" class="btn btn-outline-success">İncele</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mt-3">
      <div class="card">
        <img
          src="https://i0.shbdn.com/photos/87/22/29/x5_904872229bl8.jpg"
          data-src="https://i0.shbdn.com/photos/87/22/29/x5_904872229bl8.jpg"
          alt="Satılık Yatak Odası"
          title="Satılık Yatak Odası"
        />
        <div class="card-body">
          <h5 class="card-title">Masa Takımları</h5>
          <a href="/products?categories=masa-takimlari" class="btn btn-outline-success">İncele</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mt-3">
      <div class="card">
        <img
          class="stdImg"
          src="https://i0.shbdn.com/photos/82/20/86/x5_898822086ppi.jpg"
          alt="İkinci El ve Sıfır Alışveriş / Ev Dekorasyon / Mobilya / Çocuk &amp; Genç Odası / Çalışma Masası"
          title="İkinci El ve Sıfır Alışveriş / Ev Dekorasyon / Mobilya / Çocuk &amp; Genç Odası / Çalışma Masası"
        />
        <div class="card-body">
          <h5 class="card-title">Şifonyer ve Çalışma Masaları</h5>
          <a href="/products?categories=sifonyer-ve-calisma-masalari" class="btn btn-outline-success">İncele</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mt-3">
      <div class="card">
        <img
          class="stdImg"
          src="https://i0.shbdn.com/photos/52/42/25/x5_896524225bfj.jpg"
          alt="İkinci El ve Sıfır Alışveriş / Ev Dekorasyon / Mobilya / Oturma Odası &amp; Salon / TV Ünitesi"
          title="İkinci El ve Sıfır Alışveriş / Ev Dekorasyon / Mobilya / Oturma Odası &amp; Salon / TV Ünitesi"
        />
        <div class="card-body">
          <h5 class="card-title">Tv Üniteleri ve Konsol</h5>
          <a href="/products?categories=tv-unitesi-ve-konsollar" class="btn btn-outline-success">İncele</a>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/_footer') -%>
