  
<%- include('partials/_header') -%>

<%- include('partials/_navigation') -%>

<%- include('partials/_orange-slider') -%>


<div class="mt-3">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="card">
              <div class="card-body">
                  <h5>NİLAY HOME CONCEPT</h5>
                <p class="lead">Güneşli mah. Üsküp cad. No:46 (Çağrı market içi)</p> 
                <p> BAĞCILAR/İSTANBUL</p>
              </div>
              <div class="card-body">
                  <h5>NİLAY MOBİLYA</h5>
                  <p class="lead">Güneşli mah. Üsküp cad. no:46 (çağrı market içi)</p>
                  <p>BAĞCILAR/İSTANBUL</p> 
              </div>
         </div>
       </div>
     </div>

   </div>
  </div>

  <%- include('partials/_footer') -%>