.pt-100{
    padding-top: 70px;
    
}

.navbar {
    color: black;
}

.nav-item {
    position: relative;
    left: 370px;
}

#deneme{
    color: black;
    border-style: none;
    width: 950px;
    height: 450px;
    margin-left: 80px;
    background-image: url(../img/bazabaslik2.jpg);
    background-size: 950px 450px;
    
    
    
}
#deneme2{
    color: black;
    border-style: none;
    width: 950px;
    height: 450px;
    margin-left: 80px;
    background-image: url(../img/yatakodasi.jpg);
    background-size: 950px 450px;
    

}
#deneme3{
    color: black;
    border-style: none;
    width: 950px;
    height: 450px;
    margin-left: 80px;
    background-image: url(../img/oturmagrubu.jpg);
    background-size: 950px 450px;
 

}

#yazi{
    border-style: 1px solid black;
    width: 400px;
    height: 130px;
    text-align: center;
    background-color: black;
    opacity: 0.8;
    float: left;
    color: white;
    margin: 20px;
    padding: 5px;
    border-radius: 20px;
    
    
}
#yazi2{
    border-style: 1px solid black;
    width: 400px;
    height: 130px;
    text-align: center;
    background-color: black;
    opacity: 0.8;
    float: left;
    color: white;
    margin: 20px;
    padding: 5px;
    border-radius: 20px;
    
    
}
#yazi3{
    border-style: 1px solid black;
    width: 400px;
    height: 130px;
    text-align: center;
    background-color: black;
    opacity: 0.8;
    float: left;
    color: white;
    margin: 20px;
    padding: 5px;
    border-radius: 20px;
    
    
}
    

#baslik{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
}
#baslik2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;

}
#baslik3{

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;

}
    
h4{
    font-size: 18px;
 
}




